*{
    margin: 0;
    padding: 0;
}
.div_imagens_capa img{
    margin-bottom: -3.8px;
    margin: auto;
    display: block;
}
.espaco_lados{
    padding: 0px 2vw 2vw 2vw;
}
.imagemcapa{
    max-width: 100%;
}

.bordaprincipal{
    border: 3px solid black;
    padding: 6px;
}

.botao{
    background-color: brown;
    border: 2px solid black;
    padding: 4px;
}

hav{
    text-align: center;
}